In [1]:
import glob
import numpy as np
import pandas as pd
from time import time
from datetime import timedelta
from matplotlib import pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns',100)
pd.set_option('display.max_colwidth',400)

#### Download all of the storm event files from the NOAA ftp
After importing I simply unzipped them in bulk and dragged the different types of files (event details, locations, and fatalities) to separate folers. Uncomment the command if you want to download them all.

In [2]:
#!wget -r ftp://ftp.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/

#### Import the differnt files, append them, and join them to make one larger dataset.

In [3]:
def make_data(d='directory',ext='.csv', cols=None):
    """
    This is function that takes all files in a directory of a certain extension
    and returns a dataframe of all the concatenated data. This assumes your data
    is uniformly structured.    
    """

    files = [f for f in glob.glob(d+'*'+ext)]
    df = pd.DataFrame()

    for f in files:
        frame = pd.io.parsers.read_csv(f, index_col=False, header=0, encoding='ISO-8859-1', quotechar='"', usecols=cols)
        df = pd.concat([df,frame], ignore_index=True)

    return df

In [4]:
# I will only be using the details files for this all other information is unnecessary
# Use only a subset of the columns to reduce the size of the data for ease of use later
cols_to_use=['EVENT_ID', 'STATE', 'BEGIN_DATE_TIME', 'END_DATE_TIME', 'YEAR', 'MONTH_NAME',\
             'STATE_FIPS', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',\
             'EVENT_TYPE', 'TOR_F_SCALE', 'MAGNITUDE', 'MAGNITUDE_TYPE',\
             'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',\
             'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',\
             'EPISODE_NARRATIVE', 'EVENT_NARRATIVE']
details = make_data('Details/', cols=cols_to_use)
#locations = make_data('Locations/')
#fatalities = make_data('Fatalities/')

//anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [5]:
details.head()

,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,BEGIN_DATE_TIME,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,MAGNITUDE_TYPE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE
0,10096222,OKLAHOMA,40.0,1950,April,Tornado,C,149,WASHITA,28-APR-50 14:45:00,28-APR-50 14:45:00,0,0,0,0,0.0,NaN,F3,35.12,-99.20,35.17,-99.20,NaN,NaN
1,10120412,TEXAS,48.0,1950,April,Tornado,C,93,COMANCHE,29-APR-50 15:30:00,29-APR-50 15:30:00,0,0,0,0,0.0,NaN,F1,31.90,-98.60,31.73,-98.60,NaN,NaN
2,10104927,PENNSYLVANIA,42.0,1950,July,Tornado,C,77,LEHIGH,05-JUL-50 18:00:00,05-JUL-50 18:00:00,2,0,0,0,0.0,NaN,F2,40.58,-75.70,40.65,-75.47,NaN,NaN
3,10104928,PENNSYLVANIA,42.0,1950,July,Tornado,C,43,DAUPHIN,05-JUL-50 18:30:00,05-JUL-50 18:30:00,0,0,0,0,0.0,NaN,F2,40.60,-76.75,NaN,NaN,NaN,NaN
4,10104929,PENNSYLVANIA,42.0,1950,July,Tornado,C,39,CRAWFORD,24-JUL-50 14:40:00,24-JUL-50 14:40:00,0,0,0,0,0.0,NaN,F0,41.63,-79.68,NaN,NaN,NaN,NaN

In [6]:
details.describe()

,EVENT_ID,STATE_FIPS,YEAR,CZ_FIPS,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,1.414626e+06,1.414625e+06,1.414626e+06,1.414626e+06,1.414626e+06,1.414626e+06,1.414626e+06,1.414626e+06,837219.000000,870839.000000,870839.000000,693349.000000,693350.000000
mean,3.920038e+06,3.155870e+01,2.002631e+03,9.278142e+01,1.050907e-01,8.324462e-03,1.127719e-02,1.385525e-03,24.390806,37.849183,-92.763323,37.916216,-92.938694
std,3.606594e+06,1.696097e+01,1.136702e+01,1.077694e+02,4.146247e+00,2.089348e+00,3.497328e-01,5.299735e-02,37.040410,4.889240,35.769295,4.913387,39.653561
min,3.000000e+00,1.000000e+00,1.950000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,-14.400000,-815.100000,-14.456000,-815.100000
25%,3.737062e+05,1.900000e+01,1.998000e+03,2.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.750000,34.380000,-97.630000,34.562200,-97.528825
50%,5.248108e+06,3.000000e+01,2.005000e+03,6.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.750000,37.980000,-91.678400,38.040000,-91.171900
75%,5.602861e+06,4.500000e+01,2.011000e+03,1.170000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,52.000000,41.352950,-83.780000,41.400000,-83.380000
max,1.035852e+07,9.900000e+01,2.016000e+03,8.760000e+02,1.700000e+03,2.400000e+03,1.580000e+02,1.300000e+01,22000.000000,70.502900,171.400000,70.434200,171.400000

In [7]:
# Remove rows where there is no state information -- only one of these.

details = details[details.STATE_FIPS.notnull()]
details.EVENT_ID = details.EVENT_ID.astype(int)
details.STATE_FIPS = details.STATE_FIPS.astype(int)
details.STATE_FIPS = details.STATE_FIPS.astype(str)
details.CZ_FIPS = details.CZ_FIPS.astype(str)


# Ensure all FIPS are padded correctly: 2 for state and 3 for county and create a single fips id
details.CZ_FIPS = [f.zfill(3) for f in details.CZ_FIPS]
details.STATE_FIPS = [f.zfill(2) for f in details.STATE_FIPS]
details['FIPS'] = details.STATE_FIPS+details.CZ_FIPS


#Calculate the total number of injuries and deaths and remove the original columns
details['DEATHS'] = details.DEATHS_DIRECT + details.DEATHS_INDIRECT
details['INJURIES'] = details.INJURIES_DIRECT + details.INJURIES_INDIRECT
details = details.drop(['INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT'], axis=1)

details.head()

,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,BEGIN_DATE_TIME,END_DATE_TIME,MAGNITUDE,MAGNITUDE_TYPE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,FIPS,DEATHS,INJURIES
0,10096222,OKLAHOMA,40,1950,April,Tornado,C,149,WASHITA,28-APR-50 14:45:00,28-APR-50 14:45:00,0.0,NaN,F3,35.12,-99.20,35.17,-99.20,NaN,NaN,40149,0,0
1,10120412,TEXAS,48,1950,April,Tornado,C,093,COMANCHE,29-APR-50 15:30:00,29-APR-50 15:30:00,0.0,NaN,F1,31.90,-98.60,31.73,-98.60,NaN,NaN,48093,0,0
2,10104927,PENNSYLVANIA,42,1950,July,Tornado,C,077,LEHIGH,05-JUL-50 18:00:00,05-JUL-50 18:00:00,0.0,NaN,F2,40.58,-75.70,40.65,-75.47,NaN,NaN,42077,0,2
3,10104928,PENNSYLVANIA,42,1950,July,Tornado,C,043,DAUPHIN,05-JUL-50 18:30:00,05-JUL-50 18:30:00,0.0,NaN,F2,40.60,-76.75,NaN,NaN,NaN,NaN,42043,0,0
4,10104929,PENNSYLVANIA,42,1950,July,Tornado,C,039,CRAWFORD,24-JUL-50 14:40:00,24-JUL-50 14:40:00,0.0,NaN,F0,41.63,-79.68,NaN,NaN,NaN,NaN,42039,0,0

In [8]:
details.describe()

,EVENT_ID,YEAR,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,DEATHS,INJURIES
count,1.414625e+06,1.414625e+06,837219.000000,870839.000000,870839.000000,693349.000000,693350.000000,1.414625e+06,1.414625e+06
mean,3.920037e+06,2.002631e+03,24.390806,37.849183,-92.763323,37.916216,-92.938694,1.266272e-02,1.134152e-01
std,3.606595e+06,1.136703e+01,37.040410,4.889240,35.769295,4.913387,39.653561,3.567938e-01,4.646452e+00
min,3.000000e+00,1.950000e+03,0.000000,-14.400000,-815.100000,-14.456000,-815.100000,0.000000e+00,0.000000e+00
25%,3.737060e+05,1.998000e+03,0.750000,34.380000,-97.630000,34.562200,-97.528825,0.000000e+00,0.000000e+00
50%,5.248108e+06,2.005000e+03,1.750000,37.980000,-91.678400,38.040000,-91.171900,0.000000e+00,0.000000e+00
75%,5.602861e+06,2.011000e+03,52.000000,41.352950,-83.780000,41.400000,-83.380000,0.000000e+00,0.000000e+00
max,1.035852e+07,2.016000e+03,22000.000000,70.502900,171.400000,70.434200,171.400000,1.610000e+02,2.400000e+03

In [9]:
# Check for null values in any of the fields. We can expect that there will be null values in the
# TOR_F_SCALE and MAGNITUDE columns as the F scale is used to measure tornados, magnitude is used
# to measure other weather events, and some are not included either way.
# See next section for list of event types.

details.isnull().sum()

EVENT_ID                   0
STATE                      0
STATE_FIPS                 0
YEAR                       0
MONTH_NAME                 0
EVENT_TYPE                 0
CZ_TYPE                    0
CZ_FIPS                    0
CZ_NAME                 1557
BEGIN_DATE_TIME            0
END_DATE_TIME              0
MAGNITUDE             577406
MAGNITUDE_TYPE       1104497
TOR_F_SCALE          1350364
BEGIN_LAT             543786
BEGIN_LON             543786
END_LAT               721276
END_LON               721275
EPISODE_NARRATIVE     479108
EVENT_NARRATIVE       784931
FIPS                       0
DEATHS                     0
INJURIES                   0
dtype: int64

In [10]:
sorted(list(details.EVENT_TYPE.unique()))

['Astronomical Low Tide',
 'Avalanche',
 'Blizzard',
 'Coastal Flood',
 'Cold/Wind Chill',
 'Debris Flow',
 'Dense Fog',
 'Dense Smoke',
 'Drought',
 'Dust Devil',
 'Dust Storm',
 'Excessive Heat',
 'Extreme Cold/Wind Chill',
 'Flash Flood',
 'Flood',
 'Freezing Fog',
 'Frost/Freeze',
 'Funnel Cloud',
 'HAIL FLOODING',
 'HAIL/ICY ROADS',
 'Hail',
 'Heat',
 'Heavy Rain',
 'Heavy Snow',
 'Heavy Wind',
 'High Snow',
 'High Surf',
 'High Wind',
 'Hurricane',
 'Hurricane (Typhoon)',
 'Ice Storm',
 'Lake-Effect Snow',
 'Lakeshore Flood',
 'Landslide',
 'Lightning',
 'Marine Dense Fog',
 'Marine Hail',
 'Marine High Wind',
 'Marine Hurricane/Typhoon',
 'Marine Lightning',
 'Marine Strong Wind',
 'Marine Thunderstorm Wind',
 'Marine Tropical Depression',
 'Marine Tropical Storm',
 'Northern Lights',
 'OTHER',
 'Rip Current',
 'Seiche',
 'Sleet',
 'Sneakerwave',
 'Storm Surge/Tide',
 'Strong Wind',
 'THUNDERSTORM WIND/ TREE',
 'THUNDERSTORM WIND/ TREES',
 'THUNDERSTORM WINDS FUNNEL CLOU',
 'THUNDERSTORM WINDS HEAVY RAIN',
 'THUNDERSTORM WINDS LIGHTNING',
 'THUNDERSTORM WINDS/ FLOOD',
 'THUNDERSTORM WINDS/FLASH FLOOD',
 'THUNDERSTORM WINDS/FLOODING',
 'THUNDERSTORM WINDS/HEAVY RAIN',
 'TORNADO/WATERSPOUT',
 'TORNADOES, TSTM WIND, HAIL',
 'Thunderstorm Wind',
 'Tornado',
 'Tropical Depression',
 'Tropical Storm',
 'Tsunami',
 'Volcanic Ash',
 'Volcanic Ashfall',
 'Waterspout',
 'Wildfire',
 'Winter Storm',
 'Winter Weather']

#### Now that I have realized this file will be too large to import into Carto I will summarize all storms, deaths, and injuries by county and year.

In [11]:
print (cols_to_use)

['EVENT_ID', 'STATE', 'BEGIN_DATE_TIME', 'END_DATE_TIME', 'YEAR', 'MONTH_NAME', 'STATE_FIPS', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME', 'EVENT_TYPE', 'TOR_F_SCALE', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE']

In [16]:
summary = details.groupby(['YEAR','STATE','STATE_FIPS']).agg({'EVENT_ID': np.size, 'DEATHS': np.sum, 'INJURIES': np.sum})
summary.head()

                             EVENT_ID  DEATHS  INJURIES
YEAR STATE       STATE_FIPS
1950 ALABAMA     01                 2       0        15
     ARKANSAS    05                13       2        49
     COLORADO    08                 3       0         1
     CONNECTICUT 09                 2       0         3
     FLORIDA     12                 6       0         0

In [25]:
labels=['Year','State','State_FIPS','County','County_FIPS','FIPS']
summary.to_csv('storm_event_details_summary_by_county.csv', sep=',', index=True, index_label=labels)
details.to_csv('storm_event_details.csv', sep=',', na_rep='', quotechar='"')

In [21]:
df = pd.read_csv('storm_event_details_summary.csv', usecols=['Year','State','State_FIPS','EVENT_ID','DEATHS','INJURIES'], index_col=False)
df.head()

   Year     State  State_FIPS  EVENT_ID  DEATHS  INJURIES
0  1950   ALABAMA           1         1       0         0
1  1950   ALABAMA           1         1       0        15
2  1950  ARKANSAS           5         1       0         7
3  1950  ARKANSAS           5         1       0         3
4  1950  ARKANSAS           5         1       0         0

In [39]:
df1 = df.groupby(['State','Year']).agg({'EVENT_ID': np.sum, 'DEATHS': np.sum, 'INJURIES': np.sum})
df1.to_csv('storm_event_details_summary_by_state.csv', sep=',', index=True, index_label=['State','Year'])

In [43]:
df_cleaned = pd.read_csv('storm_events_change_by_state.csv', sep=',', index_col=False, header=0)
df_cleaned.head()

,State,2016,1981 to 2000 average,Difference 2016 and 1981 to 2000 average,Percent Difference 2016 and 1981 to 2000 average
0,ALABAMA,976,432.60,543.40,1.256126
1,ALASKA,150,102.00,48.00,0.470588
2,ARIZONA,444,106.25,337.75,3.178824
3,ARKANSAS,882,598.60,283.40,0.473438
4,CALIFORNIA,1323,207.70,1115.30,5.369764

In [49]:
# Look at the 7 quantile values to manually create a legend for mapping in Carto
quants = [df_cleaned['Percent Difference 2016 and 1981 to 2000 average'].quantile(q=i/7.) for i in range(8)]
quants